---
title: a test site
---
<h1>This is a test</h1>

<p>This is an embedded image:
{% image "https://live.staticflickr.com/7005/6757151749_304b744910_5k.jpg",
  "an example image" %}
</p>

<p>That image is transformed during build using 
<a href="https://www.11ty.dev/docs/plugins/image/">eleventy-img</a>, which creates several different sizes of the image and generates a srcset in the resulting page.</p>
<p>Now we look at all the posts in the site:</p>
<h3>Just a few with images</h3>
<ul>
  {% for post in collections.post.reverse().slice(0, 10) %}
    <li>
      {% image post.data.featured, "alt text" %}
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
</ul>
<h3>Everything, without images</h3>
<ul>
  {% for post in collections.all %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
</ul>